footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0E1F4D;
    color: #fff;
}

.footer{
    font-weight: 400;
    padding: 5px;
    margin: auto;
}