<header class="header">
  <div class="group-title" routerLink="/">
    <i class="fas fa-car icon-title"></i>
    <h1 class="title">RappiCars</h1>
  </div>
  <div class="user" *ngIf="usuario">
    <p class="name">{{usuario.nombre}} {{usuario.apellido}}</p>
    <i class="fas fa-sign-out-alt icon"></i>
  </div>
</header>
<div class="container-nav" *ngIf="usuario">
  <nav class="nav">
    <ul class="items">
        <li routerLink="alquiler" routerLinkActive="active">Alquilar</li>
        <li routerLink="vehiculos" routerLinkActive="active">Vehiculos</li>
        <li routerLink="contacto" routerLinkActive="active">Contacto</li>
    </ul>
    <ul class="paneles">
        <li *ngIf="vendedor()" (click)="toggleSidenavVendedor()">Panel Vendedor</li>
        <li *ngIf="administrador()" (click)="toggleSidenavAdministrador()">Panel Administrador</li>
    </ul>
  </nav>
</div>
