<div class="container">
    <div class="header">
        <div class="volver b-hover" routerLink="../">
            <i class="fas fa-long-arrow-alt-left"></i>
            <p>Volver</p>  
        </div>
        <p class="dias">Alquiler por {{diferencia}} dias</p>
    </div>
    <mat-paginator [length]="vehiculos.length"
               [pageSize]="page_size"
               (page)="handlePage($event)"
               aria-label="Select page">
    </mat-paginator>
    <div class="cards">
        <div class="card" *ngFor="let vehiculo of vehiculos | paginator:page_size:page_number">
            <div class="card-header">
                <img [src]="BASE_URL+'/vehiculo/images/'+vehiculo.imagen">
            </div>
            <div class="card-body">
                <h5 class="title">{{vehiculo.marca.denominacion}} {{vehiculo.denominacion}}</h5>
                <p class="precio">{{vehiculo.precioDia | currency}}</p>
                <button class="boton b-hover" (click)="seleccion(vehiculo.idVeh)">Seleccionar</button>
            </div>
        </div>
    </div>
</div>