.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

.volver{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 10%;
    background-color: #13307E;
    color: #fff;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}

.volver p{
    margin: auto 5px;
}

.text{
    margin-right: 20px;
    margin-bottom: 12px;
    font-weight: 500;
    text-decoration: underline;
}

.form{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px auto;
}

.imagen{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.boton{
    width: 50%;
    padding: 5px;
    cursor: pointer;
    outline: none;
    background-color: #13307E;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    margin: auto;
}

.message{
    margin: 0 auto;
    margin-top: 15px;
}

mat-form-field{
    width: 200px;
}

.check{
    margin-left: 40px;
}