<div class="header">
    <div class="volver b-hover" routerLink="../listado">
        <i class="fas fa-long-arrow-alt-left"></i>
        <p>Volver</p>  
    </div>
    <p class="text">Nueva provincia</p>
</div>
<form class="example-form form" [formGroup]="formulario">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Denominacion *</mat-label>
      <input type="text" matInput formControlName="denominacion" autocomplete="off">
      <mat-error *ngIf="formulario.controls['denominacion'].invalid && formulario.controls['denominacion'].dirty">
        <span *ngIf="formulario.controls['denominacion'].errors.required">Denominacion requerida</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="pais">
      <mat-label>Pais *</mat-label>
      <mat-select formControlName="pais">
        <mat-option *ngFor="let pais of paises" [value]="pais.idPais">
          {{pais.denominacion}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formulario.controls['pais'].invalid && formulario.controls['pais'].dirty"><span *ngIf="formulario.controls['pais'].errors.required">Seleccione un pais</span></mat-error>
    </mat-form-field>

    <button class="boton b-hover" (click)="nuevaProvincia()" [disabled]="!formulario.valid">Agregar</button>
  </form>