<div class="container">
    <form class="example-form form" [formGroup]="formularioLogin">
        <i class="far fa-user-circle user"></i>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="email@example.com" formControlName="email" autocomplete="off">
          <mat-error *ngIf="formularioLogin.controls['email'].invalid && formularioLogin.controls['email'].dirty">
            <span *ngIf="formularioLogin.controls['email'].errors.email">Ingrese un email valido</span>
          </mat-error>
          <mat-error *ngIf="formularioLogin.controls['email'].invalid && formularioLogin.controls['email'].dirty">
            <span *ngIf="formularioLogin.controls['email'].errors.required">Email requerido</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput placeholder="password" formControlName="password">
          <mat-error *ngIf="formularioLogin.controls['password'].invalid && formularioLogin.controls['password'].dirty">
            <span *ngIf="formularioLogin.controls['password'].errors.minlength">Contraseña de minimo 6 caracteres</span>
          </mat-error>
          <mat-error *ngIf="formularioLogin.controls['password'].invalid && formularioLogin.controls['password'].dirty">
            <span *ngIf="formularioLogin.controls['password'].errors.required">Contraseña requerida</span>
          </mat-error>
        </mat-form-field>
        
        <p>¿No tienes una cuenta? <a routerLink="../register">Registrate</a></p>
        <button class="boton b-hover" (click)="login($event)" [disabled]="!formularioLogin.valid">Ingresar</button>
    </form>
</div>