.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user{
    font-size: 150px;
    color: #939393;
    margin: 10px 0;
    margin-bottom: 10px;
}

.boton{
    width: 30%;
    padding: 5px;
    cursor: pointer;
    outline: none;
    background-color: #13307E;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
}

.message{
    margin: 0 auto;
    margin-top: 15px;
}

.example-full-width{
    width: 30%;
    margin-bottom: 5px;
}